.link .s3 {
  height: 10rem;
  color: aliceblue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(92, 44, 92);
  width: 30rem;
}
.link {
  text-decoration: none;
}
